.title {
  font-family: fantasy;
  margin: 0px;
  color: white;
  padding: 10px;
  text-align: center;
  background-color: #1f93a5;
}


.menu {
  list-style-type: none;
  padding: 0px;
  background-color: #092327;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li {
  display: inline-block;
  text-align: center;
}
.menu li:hover {
  background-color: #095561;
}

