    
    <nav class="navbar navbar-expand-lg colored">
      <div class="container-fluid">
        <img src="../../../assets/logo.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
        <a class="navbar-brand padd" target="_blank" href="http://citesoft.unsa.edu.pe:8003/#portfolio">CiTeSoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!showBoolean()" class="nav-link" routerLink="login">Login</a>
            </li>
            
            <li class="nav-item">
              <a *ngIf="showBoolean()"  class="nav-link" routerLink="auth/results">Resultados</a>
            </li>
            <li class="nav-item">
              <a *ngIf="showBoolean()"  class="nav-link" routerLink="auth/forNothing">Examples</a>
            </li>
          </ul>
          <div *ngIf="showBoolean()" class="d-flex justify-content-center">
            <h2 class="userName">
              {{auth}}
            </h2>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: inline-block;">
              <li class="nav-item">
                <img class="separador" width="50px" height="42px" src="../../../assets/usuario.png">
              </li>
            </ul>
            <a (click)="logout()" class="logout" href="auth/">Logout</a>
          </div>
          <div *ngIf="!showBoolean()">
            <img width="42px" height="42px" src="../../../assets/hombre.png">
          </div>
        </div>
      </div>
    </nav>
